/* ===========================
   FOOTER
=========================== */

.footer{
    background:#0f172a;
    color:white;
    padding:60px 0 20px;
    margin-top:80px;
}

.footer-container{
    width:90%;
    max-width:1200px;
    margin:auto;

    display:grid;
    grid-template-columns:2fr 1fr 1fr;

    gap:40px;
}

.footer h2{
    color:#ffffff;
    margin-bottom:20px;
}

.footer h3{
    margin-bottom:20px;
    color:#60a5fa;
}

.footer p{
    color:#cbd5e1;
    line-height:1.8;
}

.footer ul{
    list-style:none;
}

.footer ul li{
    margin-bottom:12px;
}

.footer ul li a{
    color:#cbd5e1;
    transition:.3s;
}

.footer ul li a:hover{
    color:#60a5fa;
    padding-left:8px;
}

.footer-bottom{

    border-top:1px solid rgba(255,255,255,.15);

    margin-top:40px;

    padding-top:20px;

    text-align:center;

    color:#94a3b8;

}

.social-icons{

    display:flex;

    gap:15px;

    margin-top:20px;

}

.social-icons a{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#1e293b;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:18px;

    transition:.3s;

}

.social-icons a:hover{

    background:#2563eb;

    transform:translateY(-5px);

}

@media(max-width:768px){

.footer-container{

grid-template-columns:1fr;

text-align:center;

}

.social-icons{

justify-content:center;

}

}