/* =========================
   NAVBAR
========================= */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 100%;
  background: #ffffff;

  box-shadow: 0 5px 20px rgba(0,0,0,.08);

  padding: 16px 0;
}

/* Container */

.nav-container {
  width: 90%;
  max-width: 1200px;

  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

.logo {
  font-size: 30px;
  font-weight: 700;

  color: var(--primary);
}

.logo span {
  color: var(--success);
}

/* Navigation */

.nav-links {
  display: flex;
  gap: 30px;

  list-style: none;
}

.nav-links a {
  color: var(--dark);

  font-size: 17px;

  font-weight: 500;

  position: relative;

  transition: .3s;
}

/* Hover */

.nav-links a:hover {
  color: var(--primary);
}

.nav-links a::after {

  content: "";

  position: absolute;

  left: 0;

  bottom: -6px;

  width: 0;

  height: 3px;

  background: var(--primary);

  transition: .3s;

}

.nav-links a:hover::after {

  width: 100%;

}

/* Active Link */

.nav-links .active {

  color: var(--primary);

}

/* CTA Button */

.nav-btn {

  padding: 10px 22px;

  border-radius: 30px;

  background: var(--primary);

  color: white;

  transition: .3s;

}

.nav-btn:hover {

  background: var(--secondary);

}

/* Mobile */

.menu-icon{

display:none;

font-size:30px;

cursor:pointer;

}

@media(max-width:768px){

.menu-icon{

display:block;

}

.nav-links{

display:none;

}

}